### Preprocesado de datos

In [30]:
import pandas as pd

# Datos obtenidos de https://databank.worldbank.org/reports.aspx?source=world-development-indicators#
with open ("datos.csv", "r") as f:
    lineas = f.read().splitlines()
    rangoDeLineas = lineas[:85]

with open("preprocesado.csv", "w") as f:
    for linea in rangoDeLineas:
        f.write(linea + "\n")

#Leer datos
df = pd.read_csv("preprocesado.csv", sep =",")
#Limpieza de datos
df = df.drop(columns=["Series Code", "Country Code"], errors="ignore")
df.columns = ['País', 'Indicador', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
df

,País,Indicador,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Panama,Access to electricity (% of population),86.9,88.6,89.300000,89.1,90.800000,91.6,92.4,93.7,93.8,93.9,95.3,95.3,95
1,Panama,Adjusted net national income per capita (curre...,7015.42519401087,8352.88381575184,9470.203419,10522.9611933459,11017.875258,11982.0392200809,12440.2690508819,13242.292985116,13217.7100307791,13342.468707283,10887.5910897658,11830.9871827426,..
2,Panama,Current health expenditure per capita (current...,608.2467041,665.84649658,725.863770,806.58551025,920.076599,982.79394531,1057.40661621,1127.68896484,1228.07336426,1340.13781738,1358.09069824,1415.24499512,..
3,Panama,"Employment to population ratio, 15+, total (%)...",59.391,59.077,60.790000,61.487,60.933000,60.898,60.851,60.06,61.463,61.817,51.296,53.504,57.727
4,Panama,GDP per capita (current US$),8124.55830734871,9403.43990821634,10767.293179,11932.2862205866,12837.247958,13669.5594424097,14382.2323819969,15185.9724813803,16156.0742859681,16472.8317470488,13293.3331951688,15491.2898013383,17357.6286293985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Belize,"Labor force, total",128753,133836,138977.000000,144234,151065.000000,156821,162580,166748,170728,174493,172620,177472,185068
80,Belize,"Life expectancy at birth, total (years)",72.272,72.651,73.245000,73.666,73.311000,73.187,73.399,73.562,73.703,73.931,72.854,70.47,70.962
81,Belize,Net migration,1644,1583,1529.000000,1504,1452.000000,1363,1283,1222,1185,1164,0,577,600
82,Belize,People using at least basic sanitation service...,85.6277083290934,85.9422379234594,86.257854,86.5747585957408,86.893045,87.2129807113852,87.534777016108,87.8585217818837,88.184416079473,88.1985036524971,88.2142766873075,88.23173186587,88.2510779331487
83,Belize,Population density (people per sq. km of land ...,14.121262604121,14.4470846120123,14.776808,15.1112669881631,15.446515,15.7768960982025,16.1031565103025,16.4266988163086,16.7499342393687,17.0580885576502,17.3135028496274,17.537527400263,..

In [29]:
cantidadIndicadores = len(df['Indicador'].unique()) # cantidad de indicadores
df['Indicador'].unique() # imprime los indicadores

''' TAREAS PARA EL PROYECTO:
Un DataFrame por Indicador:
Bryan
	'Access to electricity (% of population)',
    'Adjusted net national income per capita (current US$)'
Jaime
	'Current health expenditure per capita (current US$)',
	'Employment to population ratio, 15+, total (%) (national estimate)',
Nery
	'GDP per capita (current US$)',
	'Industry (including construction), value added (% of GDP)',
Maria Jose
	'Labor force with advanced education (% of total working-age population with advanced education)',
	'Labor force, total', 
	'Life expectancy at birth, total (years)',
Karen
	'Net migration',
	'People using at least basic sanitation services (% of population)',
	'Population density (people per sq. km of land area)'

2. HACER LOS SIGUIENTES GRAFICOS PARA CADA INDICADOR:
1. Barras
2. 
'''

" TAREAS PARA EL PROYECTO:\nUn DataFrame por Indicador:\nBryan\n\t'Access to electricity (% of population)',\n    'Adjusted net national income per capita (current US$)'\nJaime\n\t'Current health expenditure per capita (current US$)',\n\t'Employment to population ratio, 15+, total (%) (national estimate)',\nNery\n\t'GDP per capita (current US$)',\n\t'Industry (including construction), value added (% of GDP)',\nMaria Jose\n\t'Labor force with advanced education (% of total working-age population with advanced education)',\n\t'Labor force, total', \n\t'Life expectancy at birth, total (years)',\nKaren\n\t'Net migration',\n\t'People using at least basic sanitation services (% of population)',\n\t'Population density (people per sq. km of land area)'\n\n2. HACER LOS SIGUIENTES GRAFICOS PARA CADA INDICADOR:\n1. Barras\n2. \n"

### Bryan

### Jaime

### Nery

### Maria Jose

### Karen